*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Roboto';
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar-container{
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-block: 2em;
}

.nav-list ul {
    font-family: 'Graduate';
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 2rem;
}

.firstname{
    color: tomato;
}
.lastname{
    color: blue;
}

li a{
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.nav-list :hover{
    color: tomato;
    transition: all .2s ease-in-out;
}

.logo{
    font-family: 'Graduate';
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-size: 40px;
}

/* content */
main{
    flex: 1;
    width: 100%;
    max-width: 1200px;
    margin-inline: auto;
    padding: 2rem 4rem;
    display: flex;
    align-items: center;  
}

.content-deskripsi{
    display: flex;
    flex-wrap: wrap;
    padding-right: 50px;
    text-align: justify;
    width: auto;
}

.content-title{
    font-family: 'Graduate';
    display: flex;
    flex-direction: column;
    margin: 0 0 10px 0;
}

.ct-1{
    color: tomato;
}

.ct-2{
    font-size: 50px;
    color: blue;
}
.content-logo figure img{
    width: 300px;
    padding-right: 15rem;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.ct-btn{
    width: 100%;
    display: flex;
    justify-content: center;
}

.content-deskripsi button{
    font-size: 15px;
    font-weight: 500;
    padding: 15px;
    margin: 20px 0 0 0;
    color:white;
    background-color: tomato;
    border: 0;
    border-radius: 20px;
    cursor: pointer;
}

.content-deskripsi button:hover{
    color: blue;
    transition: all .3s ease-in-out;
}

/* Perangkat dengan lebar layar 1200px dan di bawahnya */
@media screen and (max-width: 1200px) {
    main {
    flex-flow: column nowrap;
    }
    main aside {
    align-self: center;
    }
}

@media screen and (max-width: 768px) {
    nav ul {
    justify-content: center;
    }
    main aside {
    align-self: stretch;
    }
}


/* footer */

footer{
    font-family: 'Graduate';
    text-align: center;
    margin: 20px 0px;
    font-weight: 700;
}