*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Roboto';
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar-container{
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-block: 2em;
}

.nav-list ul {
    font-family: 'Graduate';
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 2rem;
}

.firstname{
    color: tomato;
}
.lastname{
    color: blue;
}

li a{
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.nav-list :hover{
    color: tomato;
    transition: all .2s ease-in-out;
}

.logo{
    font-family: 'Graduate';
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-size: 40px;
}

/* konten */
main{
    padding: 0 20px;
}

#card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
}

.tag{
    font-family: 'Graduate';
    text-align: center;
    padding: 20px 0;
    color: tomato;
}

.container-1{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.news-1{
    overflow: hidden;
    width: fit-content;
    height:fit-content;
    display: flex;
    justify-items: baseline;
    /* border: 1px solid; */
    margin: 0 50px;
}

.news-title-1{
    margin-left: 20px;
}

.news-title-1 p a{
    text-decoration: none;
    color: tomato;
    font-weight: bold;
}

/* footer */
footer{
    font-family: 'Graduate';
    text-align: center;
    margin: 20px 0px;
    font-weight: 700;
}